/* PAGE [CSS] Contient tout les styles graphiques */

/* ORDRE PRIORITE: 
1. Styles html (dans la page html)
2. Styles ID [#]
3. Styles Class [.]
4. Styles généreaux (balises)
*/

/* REGLAGES CUSTOM */
    :root {
        /* Couleurs perso */
        --c0 : #0b1329; /* Couleurs perso */
        --c1 : #283a70;
        --c2 : #00113f;
        --c3 : #809ae2;
        --c4 : #6d6d6d6e;
        /* Couleurs */
        --white : #fff;
        --black : #000000;
        /* Marge ? */
        --breakpoint-xs : 0;
        --breakpoint-sm : 576px;
        --breakpoint-md : 768px;
        --breakpoint-lg : 992px;
        --breakpoint-xl : 1200px;
        /* Fonts */
        --font-family: Verdana, Geneva, Tahoma, sans-serif;
        --font-family-sans-serif : "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        --font-family-monospace : SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }
    body,div,form,img {
        border: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    /* JSP */
    html {
        font-family : Verdana, sans-serif;
        line-height : 1.15;
        -webkit-text-size-adjust : 100%;
        -webkit-tap-highlight-color : transparent;
    }

/* FORMULAIRE */
    form {
        width: 100%;
        border:;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .FRM_Line { /* Division en ligne */
        flex-direction: row;
        justify-content: center;
    }

/* TEXTES */
    h1,h2,h3,h4,h5,h6,p,a {
        color: var(--black);
        text-align: center;
        margin: 0px;
        border: 0px;
        padding: 0px;
    }
    h1 { /* TITRES PAGE */
        color: var(--c0);
    }
    h2 { /* TITRES SEXTION */
        color: var(--white);
    }
    p {  /* PARAGRAPHES */
        text-align: justify;
    }
    a {  /* LIENS */
    }


/* NAV BARS */
    .NAV_top a, .NAV_side.active a { /* NAV links */
        color: var(--white); /* Texte blanc */
        font-weight: bold; /* Texte en gras */
        text-decoration: none; /* Supprimer le soulignement des liens */
        padding: 10px; /* Espacement autour du texte */   
    }
    .NAV_top {/* NAV_top */
        /* Taille */
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;

        /* Annimation */

        /* Style */
        background-color:var(--c0);
        font-style: var(--white);
        justify-content: space-between;
    }
    .NAV_side {/* NAV_side */

        /* Taille */
        position: fixed;
        left: -250px;
        top: 0;
        height: 100%;

        /* Annimation */
        transition: left 0.3s ease-in-out;

        /* Style */
        background-color:var(--c0);
        font-style: var(--white);
        justify-content: space-between;
    }
    .NAV_side.active {/* Actions sur NAV bare right */
        left: 0; /* Change valeur Left à 0 quand Active */
    }

/* IMAGES */ 
    img {
        width: auto;
    }
    #ID_img_ico { /* Image Tableaux*/
        max-width: 100px;
        height: auto; 
        margin: 0 auto;
        display: block;
        display: flex;
    }
    #ID_img_ico { /* Image Tableaux*/
        max-width: 100px;
        height: auto; 
        margin: 0 auto;
        display: block;
        display: flex;
    }
    #ID_img_bienvenue { /* Image Bienvenue*/
        max-width: 500px;
        height: auto; 
        margin: 0 auto;
        display: block;
        display: flex;
    }      
    .DIV_IMG { /* DIV IMAGES */
        max-width: 100px;

    }
    .IMG_Flg { /* EMBLEME PAYS */
        max-width: 100%;
        max-height: 100px;
    }
    .IMG_Coa { /* EMBLEME PAYS */
        max-width: 40%;
    }
    .IMG_Map { /* CARTE */
        width: 100%;
        
    }


/* AUDIO */ 
    audio {
        width: 100%;
    }

/*BOUTTONS*/

    .BTN {
        flex-direction: row;
        justify-content: space-evenly;
        
    }



/* TABLEAUX */

    /* TAB*/
    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }
    thead {
        justify-content: space-between;
        background-color: var(--c1);
        color: var(--white);
    }
    tbody {
        
    }
    th, td, tr { 
        border: 1px solid black; 
        padding: 15px;
        
    }

    .DIV_TAB {
        display: flex; 
    }

/* BODY / DIV */
    body {
        /* Taille */
        height: 100%;
        margin: 0px;
        margin-top: 35px;
        
        /* Affichage */
        background-color: var(--c4);
        
        /* Position boites */
        flex-direction: column;
        align-items: center;

    }

/* DIV */ 
    div {
        /* Taille */
        background-color:  transparent;
        /* Affichage */
        
        /* Position boites */
        
    }
    .DIV_2{
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        
    }
    .DIV_2 > * {
        width: 50%;

    }
    .DIV_3 > * {
        width: 1/3%;

    }
    .DIV_4 > * {
        width: 50%;

    }

    .PAGE_TETE {
        flex-direction: row;
        max-height: 15%;
        width: 100%;
        max-height: 100px;

        text-align: left;
        background-color: var(--c2);
        color: #fff;
        justify-content: start;
    }
    .PAGE_CORP_PAYS {
        justify-items: center;
        break-after: page;
        width: 100%;
        background-color: var(--c4);
        flex-wrap: wrap;
    }

    /* CARTES */
    .CRD{
        width: 100%;
    }
    .CRD_TETE  {
        
        flex-direction: row;
        width: 100%;
        background-color: var(--c1);
        max-height : 50px;
        box-sizing: border-box;

        word-wrap: break-word;
        list-style: none;
        text-align: left;

        font-size: 15px;
        border-top: 2px solid var(--c2);

        background-color: ;
        border-bottom: 1px solid rgba(0,0,0,.125);
        padding: .75rem 1.25rem;
        position: relative;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        margin-bottom: 0;

        margin: 0;
        margin-bottom: 0px;
    }
    .CRD_PART {
        width: 98%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 3px;
        background-color: var(--c3);
    }
    .CRD_CORP {
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--white);

        padding: 5px 8px 8px;
        flex: 1 1 auto;
        min-height: 1px;
        margin: 0;

        box-sizing: border-box;
        list-style: none;
        text-align: left;

    }
    .CRD_CORP > * {
        width: 50%;

    }
    .CRD_TITRE {
        color: var(--white);
        letter-spacing: -.5px;
        font-size: 1.1rem; 
    }
    .CRD_TITRE_2 {
        color: var(--white);
        letter-spacing: -.5px; 
    }

    .LIST {
        flex-direction: column;
        align-content: center;
        align-items: start;
        justify-content: space-around;
        row-gap: 5px;
    }



