:-moz-placeholder {
    color : #393939;
}
::-webkit-input-placeholder {
    color : #393939;
}
:-ms-input-placeholder {
    color : #393939;
}
::placeholder {
    color : #393939;
}
body {
    background : #f2f4f7;
}
body.loginpage {
    background : #0866c6;
}
.es-heading {
    background : #fff;
    color : #393939;
    font-size : 11px;
    margin-bottom : 10px;
    box-shadow : 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    border : 0 solid rgba(0, 0, 0, .125);
    border-radius : .25rem;
}
.es-heading-bloc {
    padding : 10px 15px 15px;
}
.es-heading h3 {
    text-transform : uppercase;
    font-size : 15px;
    margin-bottom : 3px;
    margin-left : -3px;
    color : #0866c6;
    font-weight : 700;
}
.es-heading table {
    border-collapse : separate;
}
.es-save-bloc-spacer {
    margin-top : 70px;
}
.es-save-bloc {
    position : fixed;
    bottom : 0;
    left : 0;
    right : 0;
    border-top : 3px solid #0865c4;
    padding : 15px;
    background : #fff;
    box-shadow : 0 -3px 4px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    margin-top : 10px;
    margin-left : 200px;
    z-index : 1000;
}
.sidebar-collapse .es-save-bloc {
    margin-left : 74px;
}
body.no-header .es-save-bloc {
    margin-left : 0!important;
}
.x-window-body .es-save-bloc-spacer {
    margin-top : 0;
}
.x-window-body .es-save-bloc {
    margin-left : 0!important;
    position : sticky;
}
.x-window-body .es-save-bloc-container {
    display : flex;
    position : sticky;
    bottom : 0;
    flex-grow : 1;
    align-items : end;
}
.es-subline {
    background-color : #e0e0e0;
    color : #4f4f4f!important;
    border : 1px solid #b8b8b8;
    border-left : 0;
    border-right : 0;
    padding : 8px!important;
}
.shadow {
    box-shadow : 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
}
table, thead, tbody, tr, td, th {
    box-sizing : initial;
}
.loginpanel {
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate3d(-50%, -50%, 0);
}
.loginpanel #content {
    color : #fff;
    font-size : 14px;
    line-height : 22px;
    font-family : Arial, sans-serif;
    text-align : justify;
    width : 280px;
}
.loginpanel #content a {
    color : #fff;
    text-decoration : none;
}
.loginpanel .error {
    color : #c00;
    padding : 10px;
    background-color : #ffeff7;
    border : 1px solid #c69;
    margin : 10px 0;
    width : 260px;
}
.loginpanel .alert {
    color : #390;
    padding : 10px;
    background-color : #cffacf;
    border : 1px solid #390;
    margin : 10px 0;
    width : 260px;
    text-align : center;
}
.loginpanelinner .logo {
    text-align : center;
    padding : 20px 0 10px;
}
.loginpanelinner .logo img {
    width : 156px;
}
.loginpage .select2-container {
    font-family : Arial, sans-serif;
    font-size : 13px;
}
.loginpage .select2-container .select2-selection--single {
    height : 35px;
}
.loginpage .select2-container--default .select2-selection--single {
    min-height : 35px;
}
.loginpage .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height : 42px;
}
.loginpage .select2-container--default .select2-selection--single .select2-selection__arrow {
    height : 34px;
}
.loginpage .select2-container--default .select2-selection--single {
    border-radius : 0;
}
.loginpage .select2-search--dropdown .select2-search__field {
    padding : 8px;
}
.inputwrapper {
    height : 50px;
    font-family : tahoma, sans-serif;
}
.inputwrapper input {
    border : 0;
    padding : 10px;
    background : #fff;
    font-size : 13px;
    width : 260px;
}
.inputwrapper input:active, .inputwrapper input:focus {
    background : #fff;
    border : 0;
}
.inputwrapper button {
    cursor : pointer;
    display : block;
    border : 1px solid #0c57a3;
    padding : 10px;
    background : #0972dd;
    width : 280px;
    color : #fff;
    text-transform : uppercase;
}
.inputwrapper button:focus, .inputwrapper button:active, .inputwrapper button:hover {
    background : #1e82e8;
}
.inputwrapper label {
    display : inline-block;
    margin-top : 10px;
    color : rgba(255, 255, 255, .8);
    font-size : 11px;
    vertical-align : middle;
}
.inputwrapper label input {
    width : auto;
    margin : -3px 5px 0 0;
    vertical-align : middle;
}
.inputwrapper select {
    height : 35px;
    padding : 5px;
    border : 0;
    width : 280px;
    font-size : 13px;
    font-family : tahoma, sans-serif;
}
.loginfooter {
    font-size : 11px;
    color : #fff;
    position : fixed;
    bottom : 0;
    left : 0;
    width : 100%;
    text-align : center;
    font-family : arial, sans-serif!important;
    padding : 5px 0;
}
.loginfooter a {
    color : #fff;
    text-decoration : none;
}
.loginfooter a:hover {
    text-decoration : underline;
}
.rightpanel:after {
    clear : both;
    content : '';
    display : block;
}
.maincontent {
    width : 100%;
    margin-top : 5px;
    clear : both;
}
.maincontentinner {
    padding : 20px;
}
.headmenu-label, .headmenu .dropdown-menu a, .userloggedinfo ul li a, .inputwrapper input, .inputwrapper button {
    -moz-transition : all .2s ease-out 0s;
    -webkit-transition : all .2s ease-out 0s;
    transition : all .2s ease-out 0s;
}
.headmenu .dropdown-menu {
    position : absolute;
    top : 100%;
    left : 0;
    z-index : 1500;
    display : none;
    float : left;
    min-width : 160px;
    padding : 5px 0;
    margin : 0;
    list-style : outside none none;
    background-color : #fff;
    border : 1px solid rgba(0, 0, 0, .2);
    box-shadow : 0 5px 10px rgba(0, 0, 0, .2);
    background-clip : padding-box;
}
.dropdown-item {
    font-size : .75rem;
}
.dropdown-item:hover {
    color : #fff;
    background : #0866c6;
}
.nav-header {
    display : block;
    padding : 3px 15px;
    font-size : 11px;
    font-weight : 700;
    line-height : 20px;
    color : #999;
    text-shadow : 0 1px 0 rgba(255, 255, 255, .5);
    text-transform : uppercase;
}
.headmenu .open>.dropdown-menu {
    display : block;
}
.headmenu .dropdown-menu>li>a {
    display : block;
    clear : both;
    font-weight : 400;
    line-height : 20px;
    font-size : 12px;
    color : #444;
    margin : 0 5px;
    padding : 5px 10px;
    white-space : nowrap;
}
.headmenu .dropdown-menu>li {
    position : relative;
    clear : right;
}
.headmenu .dropdown-menu>li>a:hover .muted {
    color : #fff;
}
.headmenu .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
    background : #0866c6;
    color : #fff;
}
.headmenu .dropdown .dropdown-menu .nav-header {
    padding-left : 10px;
    padding-right : 10px;
}
#menu-fav a {
    padding-right : 35px!important;
}
#menu-fav a.float-right {
    position : relative;
    right : 0;
    top : 5px;
    padding-right : 10px!important;
}
#menu-fav a.float-right .fa-trash {
    color : silver;
}
#menu-fav a.float-right:hover .fa-trash {
    color : #fff;
}
.panel {
    margin-bottom : 5px;
    background-color : #fff;
    border : 1px solid transparent;
    -webkit-box-shadow : 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow : 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
    padding : 0;
}
.panel-heading {
    padding : 5px;
    border-bottom : 1px solid transparent;
    font-weight : 700;
}
.panel-title {
    margin-top : 0;
    margin-bottom : 0;
    font-size : 16px;
    color : inherit;
}
.panel-info {
    ;
}
.panel-info>.panel-heading {
    color : #fff;
    background-color : #2176cc;
    border-color : #2176cc;
}
.card.es-heading.collapsed-card .card-header {
    padding : .25rem 1rem;
    transition : all .25s ease-in-out;
}
.card-header-sm {
    ;
}
.card-header-ach-gestion {
    background-color : rgba(0, 0, 0, .03);
    padding : .55rem 1rem .75rem;
}
.card-body-ach-gestion .es-heading {
    border-bottom : 0;
}
.card-body {
    padding : .5rem;
}
.nav-link {
    padding : .5rem;
}
.nav-tabs {
    border-bottom : 4px solid #add2ed;
}
.nav-tabs .nav-link {
    background : #4c9dd8;
    color : #fff!important;
    border : 0!important;
    border-top-left-radius : 0!important;
    border-top-right-radius : 0!important;
    margin-right : 3px;
}
.nav-tabs .nav-link.active {
    background : #add2ed;
    color : #157fcc!important;
    border-color : #dee2e6 #dee2e6;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    background-color : #add2ed;
}
.bg-primary {
    background-color : #0866c6!important;
}
.btn:not(.btn-tool) {
    padding : .15rem .75rem;
    font-size : .7rem;
}
.btn-sm {
    padding : .15rem .4rem;
    font-size : .7rem;
}
.btn-tool {
    padding : .25rem .4rem;
}
.btn-primary {
    background-color : #0866c6;
    border-color : #0866c6;
}
.btn-secondary {
    background-color : #e1e3e4;
    color : #000!important;
    border : 1px solid #cfd7df;
    transition : .1s ease-in;
    min-width : 32px;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color : #000;
    background-color : #f3f5f7;
    border-color : #90949b;
    background-image : none;
}
.btn-secondary:hover:not([disabled]) {
    background-color : #f3f5f7;
    background-image : none;
}
.btn-secondary.focus, .btn-secondary:focus {
    color : #fff;
    background-color : #f3f5f7;
    border-color : #90949b;
    box-shadow : 0 0 0 .2rem rgba(130, 138, 145, .5);
}
.tooltip {
    font-size : 1em;
    z-index : 1000000;
}
.tooltip.bs-tooltip-top {
    margin-bottom : 5px;
}
.tooltip-inner {
    background-color : #1c7bdd;
    text-align : left;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color : #1c7bdd!important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color : #1c7bdd!important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color : #1c7bdd!important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color : #1c7bdd!important;
}
.popover-header {
    padding : .3rem .5rem;
    font-size : .8rem;
}
.popover-body {
    font-size : .85em;
    padding : .3rem .5rem;
    color : #212529;
}
.popover {
    max-width : 500px;
}
.opacity-0 {
    opacity : 0;
}
.opacity-10 {
    opacity : .1;
}
.opacity-20 {
    opacity : .2;
}
.opacity-30 {
    opacity : .3;
}
.opacity-40 {
    opacity : .4;
}
.opacity-50 {
    opacity : .5;
}
.opacity-60 {
    opacity : .6;
}
.opacity-70 {
    opacity : .7;
}
.opacity-80 {
    opacity : .8;
}
.opacity-90 {
    opacity : .9;
}
.opacity-100 {
    opacity : 1;
}
.alert {
    margin-bottom : 8px;
}
.x-toolbar {
    border : 0;
    background-image : none;
    background-color : #fff;
}
.x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
    padding : 8px;
}
.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-strip-active .x-tab-right {
    padding : 3px 0 3px 10px;
}
.ext-el-mask {
    width : 100%!important;
}
.x-form-field {
    box-sizing : initial;
}
.ext-strict .x-form-text {
    height : 17px;
}
.x-panel-body {
    border-color : transparent;
    background-color : #f2f4f7;
}
.x-panel {
    border-color : #0866c6;
}
.x-panel-tl .x-panel-header {
    color : #fff;
}
.x-panel-tl, .x-panel-tr, .x-panel-bl, .x-panel-br, .x-date-left, .x-date-right, .x-date-middle {
    background : #0866c6;
    border-bottom-color : #0866c6;
}
.x-panel-tc {
    background : #0866c6;
}
.x-date-bottom {
    background : #0866c6;
}
.x-date-inner .x-date-selected a {
    background : #0866c6;
    color : #fff;
}
.x-window {
    box-shadow : 0 .5rem 1rem rgba(0, 0, 0, .5);
}
.x-window-tl, .x-window-tr, .x-window-tc {
    background : #3187dd;
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
}
.x-window-ml, .x-window-mr, .x-window-bl, .x-window-br, .x-window-bc {
    background : #3187dd;
}
.x-window-tl .x-window-header {
    color : #fff;
}
.x-window-mr {
    padding-right : 0;
}
.x-window-ml {
    padding-left : 0;
}
.x-panel-nofooter .x-panel-bc, .x-panel-nofooter .x-window-bc {
    height : 0;
}
.x-box-blue .x-box-bl, .x-box-blue .x-box-br, .x-box-blue .x-box-tl, .x-box-blue .x-box-tr, .x-box-blue .x-box-bc, .x-box-blue .x-box-mc, .x-box-blue .x-box-tc {
    background : #fff;
}
.x-box-blue .x-box-m, .x-box-blue .x-box-ml {
    background : #fff;
}
.x-box-blue .x-box-mr, .x-box-blue .x-box-mc {
    background : #fff;
}
.x-box-blue .x-box-mc h3, .x-form h3 {
    text-transform : uppercase;
    font-size : 16px;
    margin-left : -2px;
    color : #0866c6;
}
.x-box-blue .x-box-mc h3 i {
    font-size : 16px;
}
.x-box-blue {
    margin-bottom : 10px;
    padding : 5px;
    background : #fff;
    box-shadow : 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    border : 0 solid rgba(0, 0, 0, .125);
    border-radius : .25rem;
}
.x-window-tl .x-window-header {
    font : 12px verdana, tahoma, arial, sans-serif;
}
.x-window-tl .x-window-header {
    padding : 7px 0;
}
.x-tab-panel-header, .x-tab-panel-footer {
    background-color : transparent;
}
.x-tab-panel-header a {
    color : #fff;
}
ul.x-tab-strip-top {
    background : 0 0;
    border-bottom-color : #add2ed;
}
.x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-strip-inner {
    background : #4c9dd8;
}
.x-tab-strip span.x-tab-strip-text, .x-tab-strip-over span.x-tab-strip-text, .x-tab-strip-active span.x-tab-strip-text {
    color : #fff!important;
    padding : 7px 0;
}
.x-tab-strip .x-item-disabled i {
    color : #fff!important;
}
.x-tab-strip-over .x-tab-left, .x-tab-strip-over .x-tab-right, .x-tab-strip-over .x-tab-strip-inner, .x-tab-strip-top .x-tab-strip-active .x-tab-left, .x-tab-strip-top .x-tab-strip-active .x-tab-right, .x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner {
    background : #add2ed;
}
.x-tab-strip-top .x-tab-strip-active .x-tab-strip-text {
    color : #157fcc!important;
    font-weight : 400;
    padding-bottom : 7px!important;
}
.x-tab-panel-noborder .x-tab-panel-header-noborder {
    border-bottom : 4px solid #add2ed;
    padding-bottom : 0;
}
.x-box-ml, .x-box-mr, .x-box-mc {
    overflow : visible;
}
.x-fieldset {
    text-align : left;
}
.x-fieldset legend {
    padding : 3px 8px;
    background : #0866c6;
    color : #fff;
}
.x-fieldset legend a {
    color : #fff;
    text-decoration : none;
}
.x-fieldset legend a:hover {
    text-decoration : underline;
}
.x-fieldset .div-legend {
    line-height : 23px;
    background-color : #0866c6;
    color : #fff;
    font-weight : 700;
    padding : 3px 10px;
}
.x-panel-header-text, .x-panel-header-text a {
    color : #fff;
}
.x-panel-header-text a {
    cursor : pointer;
}
.x-btn button {
    padding : 0;
}
.x-toolbar .xtb-sep {
    margin : 0;
}
.x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
    padding-left : 18px!important;
}
.grouped-list .x-combo-list-item-group {
    padding : 3px 3px 3px 10px;
}
.grouped-list .group-header {
    padding : 4px;
    font-weight : 700;
    border-bottom : 1px solid #ddd;
}
.grey_background {
    background : #f0f0f0!important;
}
.es-msg-bubble {
    background-color : #202124;
    color : #fff;
    position : fixed;
    bottom : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    padding : 10px;
    z-index : 1000;
}
.x-form-text, textarea.x-form-field {
    border-color : #aaa;
    background-color : #fff;
    background-image : none;
}
.x-form-field-wrap .x-form-trigger {
    background-image : url(../../lib/ext-3.0/resources/images/default/form/trigger-square.gif);
}
.dataTables_info {
    background : #0866c6;
    padding : 10px 5px;
    font-size : 11px;
    border : 0;
    color : #fff!important;
    padding-top : 14px!important;
}
.custom_datatable_info {
    background : #0866c6;
    width : 100%;
    height : 40px;
}
.dataTables_filter {
    background : #0866c6;
    padding : 10px 5px 5px;
    font-size : 11px;
    color : #fff!important;
}
.dataTables_filter input {
    width : 150px;
    margin : 0 0 0 10px;
    border : 1px solid #dadada;
    padding : 3px;
}
.dataTables_wrapper .dt-buttons {
    float : right;
    margin-top : 7px;
    margin-right : 3px;
}
.dataTables_scrollBody {
    background : #fff!important;
}
.dataTables_paginate {
    color : #fff!important;
    margin-top : 4px;
    margin-right : 5px;
}
.dataTables_length {
    color : #fff!important;
    margin : 10px;
}
.dataTables_length select {
    border : 1px solid #dadada;
    padding : 2px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color : #fff!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border : 1px solid #e1e8ef;
    background-color : #0866c6;
    background : linear-gradient(to bottom, #2c83dc 0%, #0866c6 100%);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color : silver!important;
}
.dataTables_disable {
    pointer-events : none;
}
table.dataTable.display tbody tr {
    transition : background-color .25s ease;
}
table.dataTable.display tbody tr:hover {
    background : #9cf;
}
table.dataTable.display tbody tr.hover {
    background : #9cf;
}
table.dataTable>tbody>tr.child:hover {
    background : #9cf!important;
}
.DTFC_LeftBodyLiner .DTFC_Cloned {
    overflow : hidden;
}
button.dt-button, div.dt-button, a.dt-button {
    font-size : 1em;
    line-height : 1em;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top : 1px solid #a3bdd4;
    padding-top : 5px;
    padding-bottom : 5px;
}
div.dt-button-collection {
    border-radius : 0;
    box-shadow : none;
}
table.dataTable thead th, table.dataTable thead td {
    background : #fff;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>th.dtr-control:before {
    font-family : FontAwesome, sans-serif;
    font-size : 14px;
    content : "\f13a";
    color : #0866c6;
    background : 0 0;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before {
    font-family : FontAwesome, sans-serif;
    font-size : 14px;
    content : "\f139";
    color : #d33333;
    background : 0 0;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>thead>tr>td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
    overflow : hidden;
}
.alphabets {
    list-style : none;
    border-top : 1px solid #ccc;
    border-bottom : 1px solid #ccc;
    border-right : 1px solid #ccc;
    background : #fff;
}
.alphabets::after {
    clear : both;
    content : '';
    display : block;
}
.alphabets li {
    display : inline-block;
    float : left;
    border-left : 1px solid #ccc;
    padding : 5px 0;
    color : #999;
    width : 40px;
    text-align : center;
}
.intra_index:hover {
    background-color : #0866c9;
}
.intra_index a {
    text-decoration : none;
}
.intra_index a:hover {
    color : #fff!important;
}
.intra_index a:hover small, .intra_index:hover span, .intra_index:hover small, .intra_orga:hover small, .intra_orga a:hover {
    color : #fff!important;
}
.intra_orga {
    background : #d8d8d8;
}
.peoplelist {
    margin : 15px 0;
}
.peoplelist .peoplewrapper {
    border : 1px solid #ccc;
    padding : 15px;
    background : #fff!important;
    min-height : 115px;
    margin-bottom : 20px;
}
.peoplelist .thumb {
    float : left;
}
.peoplelist .thumb img {
    display : block;
    width : 80px;
}
.peoplelist .peopleinfo {
    margin-left : 95px;
}
.peoplelist .peopleinfo_rech_pers {
    float : left;
    width : 346px;
    margin : 0 10px 10px 0;
}
.peoplelist .peopleinfo_rech_pers table {
    width : 100%;
    border : 1px solid #ccc;
    padding : 10px;
    background : #fff;
}
.peoplelist .peopleinfo h4 a {
    color : #0866c6;
    text-decoration : none;
}
.peoplelist .peopleinfo h4 {
    font-size : 15px;
}
.peoplelist .peopleinfo h4 span {
    font-family : sans-serif;
    font-size : 10px;
    text-transform : uppercase;
    margin-left : 5px;
}
.peoplelist .peopleinfo h4 span.on {
    color : green;
}
.peoplelist .peopleinfo h4 span.off {
    color : #999;
}
.peoplelist .peopleinfo ul {
    list-style : none;
    font-size : 11px;
    color : #666;
}
.peoplelist .peopleinfo ul li a {
    color : #666;
    text-decoration : none;
}
.peoplelist .peopleinfo ul li a:hover {
    text-decoration : underline;
}
.peoplelist .peopleinfo_rech_pers ul {
    list-style : none;
    font-family : tahoma, sans-serif;
    font-size : 11px;
    color : #666;
}
.peoplelist .peopleinfo ul li {
    line-height : 18px;
}
.peoplelist .peopleinfo ul li span {
    line-height : 18px;
}
.peoplelist .peopleinfo_rech_pers ul li span {
    line-height : 18px;
}
.peoplelist .peopleinfo_rech_pers ul li span.title {
    color : #262626;
}
.subtitle {
    text-transform : uppercase;
    font-size : 11px;
    color : #999;
    margin-bottom : 5px;
}
.shortcuts {
    list-style : none;
    margin-top : 20px;
    overflow : hidden;
    clear : both;
}
.shortcuts li {
    display : inline-block;
    float : left;
    margin : 0 5px 5px 0;
    position : relative;
    text-align : center;
}
.shortcuts li a {
    display : block;
    width : 150px;
    height : 130px;
    background : #0866c6;
    color : #fff;
    font-size : 16px;
    text-decoration : none;
}
.shortcuts li a:hover {
    background : #282828;
    text-decoration : none;
}
.shortcuts li .shortcuts-label {
    display : block;
    padding : 0 12px;
}
.shortcuts li .shortcuts-icon {
    display : block;
    width : 48px;
    font-size : 45px;
    padding : 30px 0 20px;
    margin : 0 auto;
}
.gu-mirror {
    position : fixed!important;
    margin : 0!important;
    z-index : 9999!important;
    opacity : .8;
    -ms-filter : "alpha(opacity=80)";
    filter : alpha(opacity=80);
}
.gu-hide {
    display : none!important;
}
.gu-unselectable {
    -webkit-user-select : none!important;
    -moz-user-select : none!important;
    -ms-user-select : none!important;
    user-select : none!important;
}
.gu-transit {
    opacity : .2;
    -ms-filter : "alpha(opacity=20)";
    filter : alpha(opacity=20);
}
#dd-center .fa-arrows-alt, #dd-right .fa-arrows-alt {
    cursor : move;
    margin-left : 5px;
    margin-right : 3px;
}
.panel-heading .fa-window-close {
    cursor : pointer;
    margin-right : 3px;
}
.card-body-home-shortcuts ul {
    padding : 5px;
}
.card-body-home-shortcuts ul li:not(:first-child) {
    margin-top : 8px;
}
#tab-salaires .x-panel-body, #tab-besoins .x-panel-body, #tab-personnel .x-panel-body, #tab-vehicules .x-panel-body, #tab-salles .x-panel-body, #tab-materiel .x-panel-body, #tab-equipement .x-panel-body {
    background : #fff;
}
.es-bloc-suivi a {
    text-decoration : none;
}
.es-bloc-suivi-sized {
    margin : 0 auto;
    width : 75%;
}
.es-pastille-suivi, .es-pastille-suivi-alerte, .es-pastille-suivi-violet {
    -o-border-radius : 50%;
    -moz-border-radius : 50%;
    -webkit-border-radius : 50%;
    -ms-border-radius : 50%;
    border-radius : 50%;
    background-color : #0866c6;
    color : #fff;
    font-weight : 700;
    font-size : 3em;
    width : 100px;
    height : 100px;
    line-height : 100px;
    margin : 0 auto;
}
.es-bloc-pastille-suivi, .es-bloc-lib-suivi {
    text-align : center;
    margin-bottom : 10px;
}
.es-pastille-suivi-alerte {
    background-color : #df5862;
}
.es-pastille-suivi-violet {
    background-color : #bb30bb;
}
.es-lib-suivi, .es-lib-suivi-alerte, .es-lib-suivi-violet {
    color : #2176cc;
    font-weight : 700;
    font-size : 1.5em;
}
.es-lib-suivi-alerte {
    color : #df5862;
}
.es-lib-suivi-violet {
    color : #bb30bb;
}
.center-btn-block {
    margin : 0 auto;
}
.changelog {
    box-shadow : -5px 0 5px -5px #333;
    height : 100%;
    width : 0;
    position : fixed;
    z-index : 2000;
    top : 0;
    right : 0;
    background-color : transparent;
    overflow-x : hidden;
}
.changelog a:hover {
    color : #f1f1f1;
}
.changelog .closebtn {
    color : #fff;
    text-decoration : none;
    position : absolute;
    top : 15px;
    right : 30px;
    font-size : 21px;
    margin-left : 50px;
    z-index : 9999999999;
}
.changelogIcon .fa {
    animation : anim_changelog 1.5s linear infinite;
}
@keyframes anim_changelog {
    0%, 20%, 40%, 60%, 80%, 100%{transform : translateY(0);
}
50% {
    transform : translateY(-5px);
}
}.autocomplete-suggestions {
    cursor : pointer;
    border : 1px solid #999;
    background : #fff;
    overflow : auto;
}
.autocomplete-suggestion {
    padding : 2px 5px;
    white-space : nowrap;
    overflow : hidden;
}
.autocomplete-selected {
    background : #f0f0f0;
}
.autocomplete-suggestions strong {
    font-weight : 400;
}
.autocomplete-group {
    padding : 2px 5px;
}
.autocomplete-group strong {
    display : block;
    border-bottom : 1px solid #000;
}
.leaflet-container.leaflet-fullscreen-on, .leaflet-pseudo-fullscreen {
    width : 100%!important;
    height : 100%!important;
}
.leaflet-control-fullscreen a {
    background : url(../../lib/leaflet/images/fullscreen.png)0 0/26px 52px no-repeat #fff;
}
.leaflet-touch .leaflet-control-fullscreen a {
    background-position : 2px 2px;
}
.leaflet-fullscreen-on .leaflet-control-fullscreen a {
    background-position : 0 -26px;
}
.leaflet-touch.leaflet-fullscreen-on .leaflet-control-fullscreen a {
    background-position : 2px -24px;
}
.leaflet-container:-webkit-full-screen {
    width : 100%!important;
    height : 100%!important;
}
.leaflet-pseudo-fullscreen {
    position : fixed!important;
    top : 0!important;
    left : 0!important;
    z-index : 99999;
}
@media(-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
    .leaflet-control-fullscreen a{background-image : url(../../lib/leaflet/images/fullscreen@2x.png);
}
}.leaflet-tile, .leaflet-zoom-anim .leaflet-zoom-hide {
    visibility : hidden;
}
.leaflet-bar a, .leaflet-control-attribution a {
    text-decoration : none;
}
.leaflet-image-layer, .leaflet-layer, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-pane, .leaflet-pane>canvas, .leaflet-pane>svg, .leaflet-tile, .leaflet-tile-container, .leaflet-zoom-box {
    position : absolute;
    left : 0;
    top : 0;
}
.leaflet-container {
    overflow : hidden;
    -webkit-tap-highlight-color : transparent;
    background : #ddd;
    outline-offset : 1px;
    font-family : helvetica neue, Arial, Helvetica, sans-serif;
    font-size : .75rem;
    line-height : 1.5;
}
.leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-tile {
    -webkit-user-select : none;
    -moz-user-select : none;
    user-select : none;
    -webkit-user-drag : none;
}
.leaflet-overlay-pane svg, .leaflet-tooltip {
    -moz-user-select : none;
}
.leaflet-tile::selection {
    background : 0 0;
}
.leaflet-safari .leaflet-tile {
    image-rendering : -webkit-optimize-contrast;
}
.leaflet-safari .leaflet-tile-container {
    width : 1600px;
    height : 1600px;
    -webkit-transform-origin : 0 0;
}
.leaflet-marker-icon, .leaflet-marker-shadow {
    display : block;
}
.leaflet-container .leaflet-overlay-pane svg {
    max-width : none!important;
    max-height : none!important;
}
.leaflet-container .leaflet-marker-pane img, .leaflet-container .leaflet-shadow-pane img, .leaflet-container .leaflet-tile, .leaflet-container .leaflet-tile-pane img, .leaflet-container img.leaflet-image-layer {
    max-width : none!important;
    max-height : none!important;
    width : auto;
    padding : 0;
}
.leaflet-container.leaflet-touch-zoom {
    -ms-touch-action : pan-x pan-y;
    touch-action : pan-x pan-y;
}
.leaflet-container.leaflet-touch-drag {
    -ms-touch-action : pinch-zoom;
    touch-action : none;
    touch-action : pinch-zoom;
}
.leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
    -ms-touch-action : none;
    touch-action : none;
}
.leaflet-container a {
    -webkit-tap-highlight-color : rgba(51, 181, 229, .4);
    color : #0078a8;
}
.leaflet-tile {
    filter : inherit;
}
.leaflet-tile-loaded {
    visibility : inherit;
}
.leaflet-zoom-box {
    width : 0;
    height : 0;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    z-index : 800;
}
.leaflet-overlay-pane, .leaflet-pane {
    z-index : 400;
}
.leaflet-map-pane svg, .leaflet-tile-pane {
    z-index : 200;
}
.leaflet-shadow-pane {
    z-index : 500;
}
.leaflet-marker-pane {
    z-index : 600;
}
.leaflet-tooltip-pane {
    z-index : 650;
}
.leaflet-popup-pane {
    z-index : 700;
}
.leaflet-map-pane canvas {
    z-index : 100;
}
.leaflet-vml-shape {
    width : 1px;
    height : 1px;
}
.lvml {
    behavior : url(#default#VML);
    display : inline-block;
    position : absolute;
}
.leaflet-control {
    position : relative;
    z-index : 800;
    pointer-events : visiblePainted;
    pointer-events : auto;
    float : left;
    clear : both;
}
.leaflet-bottom, .leaflet-top {
    position : absolute;
    z-index : 1000;
    pointer-events : none;
}
.leaflet-top {
    top : 0;
}
.leaflet-right {
    right : 0;
}
.leaflet-bottom {
    bottom : 0;
}
.leaflet-left {
    left : 0;
}
.leaflet-right .leaflet-control {
    float : right;
    margin-right : 10px;
}
.leaflet-top .leaflet-control {
    margin-top : 10px;
}
.leaflet-bottom .leaflet-control {
    margin-bottom : 10px;
}
.leaflet-left .leaflet-control {
    margin-left : 10px;
}
.leaflet-fade-anim .leaflet-popup {
    opacity : 0;
    -webkit-transition : opacity .2s linear;
    -moz-transition : opacity .2s linear;
    transition : opacity .2s linear;
}
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity : 1;
}
.leaflet-zoom-animated {
    -webkit-transform-origin : 0 0;
    -ms-transform-origin : 0 0;
    transform-origin : 0 0;
}
svg.leaflet-zoom-animated {
    will-change : transform;
}
.leaflet-zoom-anim .leaflet-zoom-animated {
    -webkit-transition : -webkit-transform .25s cubic-bezier(0, 0, .25, 1);
    -moz-transition : -moz-transform .25s cubic-bezier(0, 0, .25, 1);
    transition : transform .25s cubic-bezier(0, 0, .25, 1);
}
.leaflet-pan-anim .leaflet-tile, .leaflet-zoom-anim .leaflet-tile {
    -webkit-transition : none;
    -moz-transition : none;
    transition : none;
}
.leaflet-interactive {
    cursor : pointer;
}
.leaflet-grab {
    cursor : -webkit-grab;
    cursor : -moz-grab;
    cursor : grab;
}
.leaflet-crosshair, .leaflet-crosshair .leaflet-interactive {
    cursor : crosshair;
}
.leaflet-control, .leaflet-popup-pane {
    cursor : auto;
}
.leaflet-dragging .leaflet-grab, .leaflet-dragging .leaflet-grab .leaflet-interactive, .leaflet-dragging .leaflet-marker-draggable {
    cursor : move;
    cursor : -webkit-grabbing;
    cursor : -moz-grabbing;
    cursor : grabbing;
}
.leaflet-image-layer, .leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-pane>svg path, .leaflet-tile-container {
    pointer-events : none;
}
.leaflet-image-layer.leaflet-interactive, .leaflet-marker-icon.leaflet-interactive, .leaflet-pane>svg path.leaflet-interactive, svg.leaflet-image-layer.leaflet-interactive path {
    pointer-events : visiblePainted;
    pointer-events : auto;
}
.leaflet-zoom-box {
    border : 2px dotted #38f;
    background : rgba(255, 255, 255, .5);
}
.leaflet-bar {
    box-shadow : 0 1px 5px rgba(0, 0, 0, .65);
    border-radius : 4px;
}
.leaflet-bar a {
    background-color : #fff;
    border-bottom : 1px solid #ccc;
    width : 26px;
    height : 26px;
    line-height : 26px;
    text-align : center;
    color : #000;
}
.leaflet-bar a, .leaflet-control-layers-toggle {
    background-position : 50% 50%;
    background-repeat : no-repeat;
    display : block;
}
.leaflet-bar a:focus, .leaflet-bar a:hover {
    background-color : #f4f4f4;
}
.leaflet-bar a:first-child {
    border-top-left-radius : 4px;
    border-top-right-radius : 4px;
}
.leaflet-bar a:last-child {
    border-bottom-left-radius : 4px;
    border-bottom-right-radius : 4px;
    border-bottom : none;
}
.leaflet-bar a.leaflet-disabled {
    cursor : default;
    background-color : #f4f4f4;
    color : #bbb;
}
.leaflet-touch .leaflet-bar a {
    width : 30px;
    height : 30px;
    line-height : 30px;
}
.leaflet-touch .leaflet-bar a:first-child {
    border-top-left-radius : 2px;
    border-top-right-radius : 2px;
}
.leaflet-touch .leaflet-bar a:last-child {
    border-bottom-left-radius : 2px;
    border-bottom-right-radius : 2px;
}
.leaflet-control-zoom-in, .leaflet-control-zoom-out {
    font : 700 18px lucida console, Monaco, monospace;
    text-indent : 1px;
}
.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
    font-size : 22px;
}
.leaflet-control-layers {
    box-shadow : 0 1px 5px rgba(0, 0, 0, .4);
    background : #fff;
    border-radius : 5px;
}
.leaflet-control-layers-toggle {
    background-image : url(../../lib/leaflet/images/layers.png);
    width : 36px;
    height : 36px;
}
.leaflet-retina .leaflet-control-layers-toggle {
    background-image : url(../../lib/leaflet/images/layers-2x.png);
    background-size : 26px 26px;
}
.leaflet-touch .leaflet-control-layers-toggle {
    width : 44px;
    height : 44px;
}
.leaflet-control-layers .leaflet-control-layers-list, .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
    display : none;
}
.leaflet-control-layers-expanded .leaflet-control-layers-list {
    display : block;
    position : relative;
}
.leaflet-control-layers-expanded {
    padding : 6px 10px 6px 6px;
    color : #333;
    background : #fff;
}
.leaflet-control-layers-scrollbar {
    overflow-y : scroll;
    overflow-x : hidden;
    padding-right : 5px;
}
.leaflet-control-layers-selector {
    margin-top : 2px;
    position : relative;
    top : 1px;
}
.leaflet-control-layers label {
    display : block;
    font-size : 1.08333em;
}
.leaflet-control-layers-separator {
    height : 0;
    border-top : 1px solid #ddd;
    margin : 5px -10px 5px -6px;
}
.leaflet-default-icon-path {
    background-image : url(../../lib/leaflet/images/marker-icon.png);
}
.leaflet-container .leaflet-control-attribution {
    background : rgba(255, 255, 255, .8);
    margin : 0;
}
.leaflet-control-attribution, .leaflet-control-scale-line {
    padding : 0 5px;
    color : #333;
    line-height : 1.4;
}
.leaflet-control-attribution a:focus, .leaflet-control-attribution a:hover {
    text-decoration : underline;
}
.leaflet-attribution-flag {
    display : inline!important;
    vertical-align : baseline!important;
    width : 1em;
    height : .6669em;
}
.leaflet-left .leaflet-control-scale {
    margin-left : 5px;
}
.leaflet-bottom .leaflet-control-scale {
    margin-bottom : 5px;
}
.leaflet-control-scale-line {
    border : 2px solid #777;
    border-top : none;
    line-height : 1.1;
    padding : 2px 5px 1px;
    white-space : nowrap;
    overflow : hidden;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    background : rgba(255, 255, 255, .5);
}
.leaflet-control-scale-line:not(:first-child) {
    border-top : 2px solid #777;
    border-bottom : none;
    margin-top : -2px;
}
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
    border-bottom : 2px solid #777;
}
.leaflet-touch .leaflet-bar, .leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers {
    box-shadow : none;
}
.leaflet-touch .leaflet-bar, .leaflet-touch .leaflet-control-layers {
    border : 2px solid rgba(0, 0, 0, .2);
    background-clip : padding-box;
}
.leaflet-popup {
    position : absolute;
    text-align : center;
    margin-bottom : 20px;
}
.leaflet-popup-content-wrapper {
    padding : 1px;
    text-align : left;
    border-radius : 12px;
}
.leaflet-popup-content {
    margin : 13px 24px 13px 20px;
    line-height : 1.3;
    font-size : 1.08333em;
    min-height : 1px;
}
.leaflet-popup-content p {
    margin : 1.3em 0;
}
.leaflet-popup-tip-container {
    width : 40px;
    height : 20px;
    position : absolute;
    left : 50%;
    margin-top : -1px;
    margin-left : -20px;
    overflow : hidden;
    pointer-events : none;
}
.leaflet-popup-tip {
    width : 17px;
    height : 17px;
    padding : 1px;
    margin : -10px auto 0;
    pointer-events : auto;
    -webkit-transform : rotate(45deg);
    -moz-transform : rotate(45deg);
    -ms-transform : rotate(45deg);
    transform : rotate(45deg);
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background : #fff;
    color : #333;
    box-shadow : 0 3px 14px rgba(0, 0, 0, .4);
}
.leaflet-container a.leaflet-popup-close-button {
    position : absolute;
    top : 0;
    right : 0;
    border : none;
    text-align : center;
    width : 24px;
    height : 24px;
    font : 16px/24px Tahoma, Verdana, sans-serif;
    color : #757575;
    text-decoration : none;
    background : 0 0;
}
.leaflet-container a.leaflet-popup-close-button:focus, .leaflet-container a.leaflet-popup-close-button:hover {
    color : #585858;
}
.leaflet-popup-scrolled {
    overflow : auto;
}
.leaflet-oldie .leaflet-popup-content-wrapper {
    -ms-zoom : 1;
}
.leaflet-oldie .leaflet-popup-tip {
    width : 24px;
    margin : 0 auto;
}
.leaflet-oldie .leaflet-control-layers, .leaflet-oldie .leaflet-control-zoom, .leaflet-oldie .leaflet-popup-content-wrapper, .leaflet-oldie .leaflet-popup-tip {
    border : 1px solid #999;
}
.leaflet-div-icon {
    background : #fff;
    border : 1px solid #666;
}
.leaflet-tooltip {
    position : absolute;
    padding : 6px;
    background-color : #fff;
    border : 1px solid #fff;
    border-radius : 3px;
    color : #222;
    white-space : nowrap;
    -webkit-user-select : none;
    -ms-user-select : none;
    user-select : none;
    pointer-events : none;
    box-shadow : 0 1px 3px rgba(0, 0, 0, .4);
}
.leaflet-tooltip.leaflet-interactive {
    cursor : pointer;
    pointer-events : auto;
}
.leaflet-tooltip-bottom:before, .leaflet-tooltip-left:before, .leaflet-tooltip-right:before, .leaflet-tooltip-top:before {
    position : absolute;
    pointer-events : none;
    border : 6px solid transparent;
    background : 0 0;
    content : "";
}
.leaflet-tooltip-bottom {
    margin-top : 6px;
}
.leaflet-tooltip-top {
    margin-top : -6px;
}
.leaflet-tooltip-bottom:before, .leaflet-tooltip-top:before {
    left : 50%;
    margin-left : -6px;
}
.leaflet-tooltip-top:before {
    bottom : 0;
    margin-bottom : -12px;
    border-top-color : #fff;
}
.leaflet-tooltip-bottom:before {
    top : 0;
    margin-top : -12px;
    margin-left : -6px;
    border-bottom-color : #fff;
}
.leaflet-tooltip-left {
    margin-left : -6px;
}
.leaflet-tooltip-right {
    margin-left : 6px;
}
.leaflet-tooltip-left:before, .leaflet-tooltip-right:before {
    top : 50%;
    margin-top : -6px;
}
.leaflet-tooltip-left:before {
    right : 0;
    margin-right : -12px;
    border-left-color : #fff;
}
.leaflet-tooltip-right:before {
    left : 0;
    margin-left : -12px;
    border-right-color : #fff;
}
@media print {
    .leaflet-control{-webkit-print-color-adjust : exact;
    print-color-adjust : exact;
}
}@-webkit-keyframes leaflet-gestures-fadein {
    0%{opacity : 0;
}
100% {
    opacity : 1;
}
}@keyframes leaflet-gestures-fadein {
    0%{opacity : 0;
}
100% {
    opacity : 1;
}
}.leaflet-container:after {
    -webkit-animation : leaflet-gestures-fadein .8s backwards;
    animation : leaflet-gestures-fadein .8s backwards;
    color : #fff;
    font-family : Roboto, Arial, sans-serif;
    font-size : 22px;
    -webkit-box-pack : center;
    -ms-flex-pack : center;
    justify-content : center;
    display : -webkit-box;
    display : -ms-flexbox;
    display : flex;
    -webkit-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    padding : 15px;
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    bottom : 0;
    background : rgba(0, 0, 0, .5);
    z-index : 461;
    pointer-events : none;
}
.leaflet-gesture-handling-scroll-warning:after, .leaflet-gesture-handling-touch-warning:after {
    -webkit-animation : leaflet-gestures-fadein .8s forwards;
    animation : leaflet-gestures-fadein .8s forwards;
}
.leaflet-gesture-handling-touch-warning:after {
    content : attr(data-gesture-handling-touch-content);
}
.leaflet-gesture-handling-scroll-warning:after {
    content : attr(data-gesture-handling-scroll-content);
}
.marker-cluster-small {
    background-color : rgba(181, 226, 140, .6);
}
.marker-cluster-small div {
    background-color : rgba(110, 204, 57, .6);
}
.marker-cluster-medium {
    background-color : rgba(241, 211, 87, .6);
}
.marker-cluster-medium div {
    background-color : rgba(240, 194, 12, .6);
}
.marker-cluster-large {
    background-color : rgba(253, 156, 115, .6);
}
.marker-cluster-large div {
    background-color : rgba(241, 128, 23, .6);
}
.leaflet-oldie .marker-cluster-small {
    background-color : #b5e28c;
}
.leaflet-oldie .marker-cluster-small div {
    background-color : #6ecc39;
}
.leaflet-oldie .marker-cluster-medium {
    background-color : #f1d357;
}
.leaflet-oldie .marker-cluster-medium div {
    background-color : #f0c20c;
}
.leaflet-oldie .marker-cluster-large {
    background-color : #fd9c73;
}
.leaflet-oldie .marker-cluster-large div {
    background-color : #f18017;
}
.marker-cluster {
    background-clip : padding-box;
    border-radius : 20px;
}
.marker-cluster div {
    width : 30px;
    height : 30px;
    margin-left : 5px;
    margin-top : 5px;
    text-align : center;
    border-radius : 15px;
    font : 12px helvetica neue, Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height : 30px;
}
#cluster-personnel .leaflet-popup-content {
    margin : 5px;
}
#cluster-personnel .leaflet-popup-content-wrapper {
    border-radius : 7px;
}
#cluster-personnel .leaflet-popup-close-button {
    color : #fff;
    top : 6px;
    right : 6px;
}
.ekko-lightbox {
    display : -ms-flexbox!important;
    display : flex!important;
    -ms-flex-align : center;
    align-items : center;
    -ms-flex-pack : center;
    justify-content : center;
    padding-right : 0!important;
}
.ekko-lightbox-container {
    position : relative;
}
.ekko-lightbox-container>div.ekko-lightbox-item {
    position : absolute;
    top : 0;
    left : 0;
    bottom : 0;
    right : 0;
    width : 100%;
}
.ekko-lightbox iframe {
    width : 100%;
    height : 100%;
}
.ekko-lightbox-nav-overlay {
    z-index : 1;
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    display : -ms-flexbox;
    display : flex;
}
.ekko-lightbox-nav-overlay a {
    -ms-flex : 1;
    flex : 1;
    display : -ms-flexbox;
    display : flex;
    -ms-flex-align : center;
    align-items : center;
    opacity : 0;
    transition : opacity .5s;
    color : #fff;
    font-size : 30px;
    z-index : 1;
}
.ekko-lightbox-nav-overlay a>* {
    -ms-flex-positive : 1;
    flex-grow : 1;
}
.ekko-lightbox-nav-overlay a>:focus {
    outline : none;
}
.ekko-lightbox-nav-overlay a span {
    padding : 0 30px;
}
.ekko-lightbox-nav-overlay a:last-child span {
    text-align : right;
}
.ekko-lightbox-nav-overlay a:hover {
    text-decoration : none;
}
.ekko-lightbox-nav-overlay a:focus {
    outline : none;
}
.ekko-lightbox-nav-overlay a.disabled {
    cursor : default;
    visibility : hidden;
}
.ekko-lightbox a:hover {
    opacity : 1;
    text-decoration : none;
}
.ekko-lightbox .modal-dialog {
    display : none;
}
.ekko-lightbox .modal-footer {
    text-align : left;
}
.ekko-lightbox-loader {
    position : absolute;
    top : 0;
    left : 0;
    bottom : 0;
    right : 0;
    width : 100%;
    display : -ms-flexbox;
    display : flex;
    -ms-flex-direction : column;
    flex-direction : column;
    -ms-flex-pack : center;
    justify-content : center;
    -ms-flex-align : center;
    align-items : center;
}
.ekko-lightbox-loader>div {
    width : 40px;
    height : 40px;
    position : relative;
    text-align : center;
}
.ekko-lightbox-loader>div>div {
    width : 100%;
    height : 100%;
    border-radius : 50%;
    background-color : #fff;
    opacity : .6;
    position : absolute;
    top : 0;
    left : 0;
    animation : a 2s infinite ease-in-out;
}
.ekko-lightbox-loader>div>div:last-child {
    animation-delay : -1s;
}
.modal-dialog .ekko-lightbox-loader>div>div {
    background-color : #333;
}
@keyframes a {
    0%, to{transform : scale(0);
    -webkit-transform : scale(0);
}
50% {
    transform : scale(1);
    -webkit-transform : scale(1);
}
}@keyframes chartjs-render-animation {
    from{opacity : .99;
}
to {
    opacity : 1;
}
}.chartjs-render-monitor {
    animation : chartjs-render-animation 1ms;
}
.chartjs-size-monitor, .chartjs-size-monitor-expand, .chartjs-size-monitor-shrink {
    position : absolute;
    direction : ltr;
    left : 0;
    top : 0;
    right : 0;
    bottom : 0;
    overflow : hidden;
    pointer-events : none;
    visibility : hidden;
    z-index : -1;
}
.chartjs-size-monitor-expand>div {
    position : absolute;
    width : 1000000px;
    height : 1000000px;
    left : 0;
    top : 0;
}
.chartjs-size-monitor-shrink>div {
    position : absolute;
    width : 200%;
    height : 200%;
    left : 0;
    top : 0;
}
.select2-container--open {
    z-index : 9999;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    border-radius : 0;
    min-height : 21px;
    padding-left : .35rem;
}
.select2-container .select2-selection--single {
    height : 21px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height : 12px;
    color : #000;
    padding-left : 0;
    padding-right : 0;
    margin-top : -4px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height : 21px;
}
.select2-container--default .select2-results__group {
    font-weight : 700;
}
.select2-container .select-all {
    position : absolute;
    top : 2px;
    right : 4px;
    margin : auto;
    display : block;
    cursor : pointer;
    font-size : 18px;
    color : #949494;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color : #000;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left : 4px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    padding : 0 4px 0 0;
}
.jconfirm .jconfirm-box .jconfirm-buttons button.btn-red {
    color : #fff!important;
}
.fc-timeline-event .fc-content, .fc-day-grid-event>.fc-content {
    white-space : initial!important;
}
.fc-view-container {
    background-color : #fff;
}
.fc-widget-header {
    font-weight : 700;
}
.fc-view-container {
    background-color : #fff;
}
.fc-toolbar.fc-header-toolbar {
    margin-bottom : .5em;
}
.fc-state-default {
    background-image : none!important;
}
.fa-money:before {
    content : "\f3d1";
}
a:hover .fa-trash, a:hover .fa-trash-alt {
    color : #ee100e!important;
}
.fa-es {
    color : #727272;
}
a:hover .fa-es {
    color : #0866c6;
}
.fa-es {
    transition : color .35s ease;
}
.fa-es-size, .fa-es {
    font-size : 1.5em!important;
}
.fa-es-sm {
    font-size : 1.3em!important;
}
.fa-es-fiche {
    border : 1px solid #b1b5b9;
    padding : 1px 2px;
    color : #727272;
    border-radius : 1px;
    background : #ececec;
}
.fa-es-badge, .fa-es-badge-warning {
    position : relative;
}
.fa-es-badge:after, .es-badge, .fa-es-badge-warning:after, .es-badge-warning {
    content : attr(data-count);
    font-family : Tahoma, Arial, sans-serif;
    height : 15px;
    min-width : 15px;
    background-color : #7ad2f4;
    position : absolute;
    right : 10px;
    top : -5px;
    color : #fff;
    text-align : center;
    font-size : 9px;
    line-height : 13px;
    border : 1px solid #67a2de;
    border-radius : 9px;
    font-weight : 700;
}
.es-badge, .es-badge-warning {
    position : initial;
    top : 0;
    right : 0;
    width : 15px;
    height : 15px;
    display : inline-block;
}
.fa-es-badge-warning:after, .es-badge-warning {
    background-color : #f59f56;
    border : 1px solid #f3780d;
}
a:hover .fa-es-hover-red, .fa-es-hover-red:hover {
    color : #ee100e;
}
a:hover .fa-es-hover-blue, .fa-es-hover-blue:hover {
    color : #0866c6;
}
.fa-es-black {
    color : #000;
}
.fa-es-red {
    color : #ee100e;
}
.fa-es-red2 {
    color : #f68887;
}
.fa-es-blue, .fa-es-primary {
    color : #007bff;
}
.fa-es-dark-blue {
    color : #0256b1;
}
.fa-es-orange {
    color : #ff8914;
}
.fa-es-green {
    color : #47b92b;
}
.fa-es-gray {
    color : #9a9690;
}
.fa-es-white {
    color : #fff;
}
.fa-es-yellow {
    color : #f4db6c;
}
.fa-stack {
    height : 1.5em!important;
    line-height : 1.5em!important;
}
.fa-stack-2x {
    font-size : 1.5em!important;
}
.fa-stack-1x {
    font-size : 1em;
}
.Input, .Select, .Textarea, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single {
    background-color : #fff;
    background-clip : padding-box;
    border : 1px solid #aaa;
    border-radius : .25rem;
    transition : border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.Input:focus, .Textarea:focus, .Select:focus, .select2-container--default .select2-selection--multiple:focus, .select2-container--default .select2-selection--single:focus, .x-form-focus {
    background-color : #fff;
    border-color : #80bdff;
    outline : 0;
    box-shadow : 0 0 0 .2rem rgba(0, 123, 255, .25);
}
.x-form-field {
    border-top-left-radius : .25rem;
    border-bottom-left-radius : .25rem;
}
.x-form-empty-field {
    color : #393939;
    font : 11px verdana, tahoma, helvetica, arial, sans-serif;
}
.avatar {
    min-width : 50px;
    min-height : 50px;
    vertical-align : middle;
    border : 1px solid silver;
    border-radius : 50%;
}
#search-bar-container {
    align-items : center;
    background : hsla(0, 0%, 100%, .3);
    border-radius : .25rem;
    color : #fff;
    display : flex;
    flex-grow : 1;
    font-size : 16px;
    line-height : 36px;
    padding : 0 10px;
    position : relative;
    transition : .2s ease-in-out;
    z-index : 1;
}
#search-bar-container .input-container {
    align-items : center;
    color : #fff;
    display : flex;
}
#search-bar-container input {
    background-color : transparent;
    border : none;
    color : #fff;
    flex-grow : 1;
    outline : none;
    padding : 0;
    margin-left : 15px;
}
#search-bar-container input::placeholder {
    color : #fff;
}
#search-bar-dropdown {
    background-color : #fff;
    border-bottom-left-radius : .25rem;
    border-bottom-right-radius : .25rem;
    box-shadow : 0 4px 8px 0 rgba(45, 62, 80, .32);
    display : flex;
    flex-direction : column;
    left : 0;
    padding : 1rem;
    position : absolute;
    right : 0;
    transform : scaleY(0);
    transform-origin : top;
    transition : all .15s ease-in-out;
}
#search-bar-dropdown ul:not(.results) {
    display : flex;
    flex-flow : row wrap;
    padding : 0;
    line-height : normal;
}
#search-bar-dropdown ul:not(.results)li {
    color : #fff;
    list-style-type : none;
    background-color : #5394d7;
    border : 1px solid #5394d7;
    margin : 0 10px 10px 0;
    padding : 2px 10px 3px;
    border-radius : 3px;
    cursor : pointer;
    white-space : nowrap;
    transition : all ease-in-out .15s;
}
#search-bar-dropdown ul.results li {
    font-size : 11px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}
.results li a {
    color : #a2a2a2;
}
#search-bar-dropdown-context li.active {
    background-color : #0866c6!important;
    border : 1px solid #5394d7!important;
    color : #f9f9f9!important;
}
#search-bar-dropdown label {
    color : #999;
    font-size : 14px;
    line-height : 14px;
    margin-bottom : .75rem;
}
#search-bar-container .input-container span {
    background-color : rgba(255, 255, 255, .5);
    color : #5394d7;
    border-radius : 3px;
    font-size : 15px;
    margin-right : 5px;
    line-height : normal;
    padding : 2px 10px 3px;
}
#search-bar-container.is-focused {
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
}
#search-bar-container.is-focused #search-bar-dropdown {
    transform : scaleY(1);
}
#seach-bar-dropdown-results {
    color : #999;
    max-height : 500px;
    overflow-y : auto;
    overscroll-behavior : contain;
}
label:not(.form-check-label):not(.custom-file-label) {
    font-weight : 400;
}
.main-sidebar {
    background : #0866c6;
    width : 200px;
}
.layout-fixed .main-sidebar {
    overflow-x : hidden;
}
.sidebar {
    overscroll-behavior : contain;
}
@media(min-width:992px) {
    body : not(.sidebar-mini-md) : not(.sidebar-mini-xs) : not(.layout-top-nav).content-wrapper, body : not(.sidebar-mini-md) : not(.sidebar-mini-xs) : not(.layout-top-nav).main-header{margin-left : 200px;
}
}.sidebar nav .nav-item .nav-link {
    color : #fff!important;
}
.main-header {
    background : #0866c6;
}
.main-header.navbar-light {
    background : #0866c6;
}
.main-header.navbar-light .navbar-nav .nav-link {
    font-size : 16px;
    color : #ffffffb8;
}
.sidebar-collapse .brand-link i {
    display : none;
}
.brand-link {
    background : #0866c6;
    transition : none;
}
.sidebar-collapse .item-logo-client {
    display : none;
}
.nav-sidebar>.nav-item .nav-icon {
    margin-right : 0;
}
#body.sidebar-collapse .sidebar>nav>ul>li.nav-item {
    text-align : center;
}
#body.sidebar-collapse .sidebar>nav>ul>li>a>p {
    display : none;
}
.nav-treeview {
    background-color : #fff;
    border : 1px solid rgba(0, 0, 0, .2);
    box-shadow : 0 5px 10px rgba(0, 0, 0, .2);
    background-clip : padding-box;
}
.nav-treeview .nav-icon {
    color : #444;
}
.dropdown-item-text {
    color : #798591;
    font-size : .75rem;
}
.dropdown-item {
    padding : .45rem 1rem;
}
h3.card-title {
    font-size : 15px;
    margin-top : .25rem;
    letter-spacing : -.5px;
}
.card-tools {
    font-size : 11px;
    line-height : 24px;
}
.card:not(.es-heading).card-header {
    font-size : 15px;
    border-top : 2px solid #0866c6;
}
.card-header>.card-tools {
    margin-right : -.6rem;
}
.card-primary:not(.card-outline)>.card-header {
    background-color : #0865c4;
}
:root {
    --primary : #0865c4 !important;
}
.dropdown-hover:hover>.dropdown-menu {
    display : block;
}
.dropdown-hover>.dropdown-toggle:active {
    pointer-events : none;
}
.info-box:active, .info-box.active {
    box-shadow : 0 0 1px rgb(8 102 198), 0 1px 3px rgb(8 102 198);
}
.info-box {
    box-shadow : 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    border-radius : .25rem;
    background-color : #fff;
    display : -ms-flexbox;
    display : flex;
    margin-bottom : 1rem;
    min-height : 80px;
    padding : .5rem;
    position : relative;
    width : 100%;
}
.info-box .info-box-icon {
    border-radius : .25rem;
    -ms-flex-align : center;
    align-items : center;
    display : -ms-flexbox;
    display : flex;
    font-size : 1.875rem;
    -ms-flex-pack : center;
    justify-content : center;
    text-align : center;
    width : 70px;
}
.bg-info {
    background-color : #5394d7!important;
}
.bg-info, .bg-info>a {
    color : #fff!important;
}
.bg-success, .bg-success>a {
    color : #fff!important;
}
.bg-success {
    background-color : #28a745!important;
}
.bg-danger {
    background-color : #dc3545!important;
}
.info-box .info-box-content {
    display : -ms-flexbox;
    display : flex;
    -ms-flex-direction : column;
    flex-direction : column;
    -ms-flex-pack : center;
    justify-content : center;
    line-height : 1.8;
    -ms-flex : 1;
    flex : 1;
    padding : 0 10px;
    overflow : hidden;
}
.info-box .info-box-text, .info-box .progress-description {
    display : block;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}
#search-bar-dropdown ul.results li {
    font-size : 11px;
    overflow : hidden;
    text-overflow : ellipsis;
    white-space : nowrap;
}
#search-bar-dropdown .info-box-icon {
    background-size : cover;
    background-position : center center;
}
#search-bar-help {
    align-items : center;
    color : #565665;
    display : flex;
    justify-content : end;
    padding : 10px 0 0;
}
#search-bar-help .search-bar-help-actions li {
    align-items : center;
    display : flex;
    gap : 0;
    color : gray!important;
    background-color : transparent!important;
    border : 0!important;
    margin : 0!important;
    padding : 0 0 0 10px!important;
    border-radius : 0;
    cursor : none;
    transition : none;
    font-size : 11px!important;
}
#search-bar-help .search-bar-help-actions li .shortcut {
    align-items : center;
    background : #f6f6f9;
    border-radius : 4px;
    display : flex;
    padding : 2px;
    margin-left : 6px;
}
#search-bar-help .icon {
    height : 12px;
    width : 12px;
}
.select2-container--default .select2-dropdown .select2-search__field:focus, .select2-container--default .select2-search--inline .select2-search__field:focus {
    border : 0;
}
.btn-outline-light {
    color : #f8f9fa;
    border-color : #f8f9fa;
}
.btn-outline-light.ppsps {
    background : #0865c4;
    border-color : #f8f9fa;
    transition : all .2s ease-in-out;
}
.btn-outline-light.ppsps:hover {
    color : #fff;
    background : #216cc0;
}
.fc-widget-content:first-of-type, .fc-widget-header:first-of-type {
    border-right : 1px solid #ddd;
}
body.dark-mode a {
    color : #fff;
}
body.dark-mode small {
    color : #b9b9b9;
}
body.dark-mode .navbar-light, body.dark-mode .main-sidebar, body.dark-mode .brand-link {
    background-color : #3c3c3c;
}
body.dark-mode table.dataTable tbody tr {
    background-color : #676767;
}
body.dark-mode table.dataTable.stripe tbody tr.odd, body.dark-mode table.dataTable.display tbody tr.odd {
    background-color : #3c3c3c;
}
body.dark-mode table.dataTable thead th, body.dark-mode table.dataTable thead td, body.dark-mode table.dataTable tr.dtrg-group td {
    background : #3c3c3c;
}
body.dark-mode .e-table {
    background-color : #3c3c3c;
}
body.dark-mode .e-table .blink_bg_error {
    animation : fade_bg_darkmode 1s infinite;
}
body.dark-mode .postit {
    background : #d1d1c1;
}
body.dark-mode .card:not(.es-heading).card-header {
    border-top : 2px solid #5b5b5b;
}
body.dark-mode .x-tab-panel-body, body.dark-mode .x-panel-body {
    background-color : #444c54;
}
body.dark-mode .dataTables_info, body.dark-mode .custom-datatable-filter, body.dark-mode .custom_datatable_info, body.dark-mode .dataTables_filter {
    background : #343a40;
}
body.dark-mode .planning_cell {
    background-color : #b9b9b9;
}
body.dark-mode .calendar_background td.weekend {
    background-color : #8c8c8c;
}
body.dark-mode .planning_header, body.dark-mode .planning_header_today {
    background-color : #444c54!important;
}
body.dark-mode .nav_mode_on, body.dark-mode .nav_mode_off {
    color : #fff;
    background-color : #444c54!important;
}
body.dark-mode .es-heading-bloc, body.dark-mode .es-save-bloc {
    color : #fff;
    background : #343a40;
}
body.dark-mode .es-heading-bloc h3 {
    color : #bdc2c7;
}
.filtre-actif-stat-course {
    color : orange;
    font-weight : 700;
}
#planning-header.fixed {
    position : fixed!important;
    top : 0;
    left : 201px;
    z-index : 100;
    width : 90%;
    padding : 0 .4rem;
}
.floatThead-container.fixed {
    top : 125px!important;
}
.list-field {
    list-style : disc;
    padding : 0 1rem;
}
